/*------------------------------------*\
    #FORM RESET
\*------------------------------------*/
fieldset{
	padding: 0; border: none; margin: 0;
}
input, button[type='submit']{
	border: none;
}

/*------------------------------------*\
    #FORM ELEMENTS
\*------------------------------------*/
input, button[type='submit']{
	height: 30px;
	padding: 4px;
}
input{
	border-bottom: 1px solid #00a8ab;
	width: 70%;
	text-align: center;
}

button[type='submit']{
	background: @highlight;
	color: @light;
}

textarea{
	text-align: center;
	// border-bottom: 1px solid #00a8ab!important;
	border: none;
	width: 70%;
	padding: (@unidad/2);
}